.Post {
    width: 50%;
    height: auto;
    min-height: 500px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 5px auto;
    box-sizing: border-box;
    background-color: #C0DDF5;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

.Post:hover,
.Post:active {
    background-color: #fff;
}
